<div class="row">
  <div class="col-md-6">
    <h2>THE NEWS</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {{#each model as |article|}}
      {{news-details}}
    {{/each}}
  </div>

</div>
